/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
}

/* Color Theme */
.bg-primary {
    background-color: teal !important;
}

/* Typography */
section h2 {
    text-align: left;
    margin-top: 30px;
    color: teal; 
    font-size: 2.5rem;
    font-weight: 600;
    border-bottom: 2px solid teal;
    padding-bottom: 10px;
}

section p {
    text-align: left;
    margin-top: 10px;
    font-size: 1.1rem;
}

/* Section Styles */
section {
    padding: 40px 0;
}

/* Gallery Styles */
section .row img {
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section .row img:hover {
    transform: scale(1.05); 
}

/* Navigation Styles */
.navbar-brand {
    font-size: 1.75rem;
    font-weight: 700;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    color: white !important;
}

.navbar-nav .nav-link:hover {
    color: teal !important;
}
